body {
	background: #707070;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
	color: #eeeeaa;;
	background: #6666ee;
	padding: 10px;
	font-size:large;
	box-shadow: none;
}

select {
	font-size: 1.5em;
}

.container {
	padding: 30px;
	margin:  0px auto;
	position:  relative;
	overflow-x: hidden;
}

.key {
	float:  left;
    text-align: center;
	border: solid 4px #999999;
	border-radius:  10px;
	width:  50px;
	height: 200px;
}
.key:hover, .playing {
	border: solid 4px #ffff00;
}

.note-name {
	margin: 0px auto;
	position: absolute;
	font-size: 0.8em;
	font-weight: bold;
	box-sizing: border-box;
}

.white-key {
	background:  #ffffff;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 160px;
	border-radius:  10px;
}

.white-key .note-name {
	color: blue;
	margin-left: -10px;
	bottom: 40px;
}

.black-key {
	z-index: 1;
	background: #333333;
	margin-left:  -28px;
	margin-right: -28px;
	position: relative;
}

.black-key .note-name {
	color: yellow;
	margin-left: -15px;
	top: 5px;
}

#consoleTop {
	position: fixed;
	top: 0px;
	color: white;
	text-align: center;
	margin: 0px auto;
	width: 100vw;
	font-size: x-large;
	padding: 20px;
}

#rangeAdjustContainer {
	position: relative;
	width: 80vw;
	left: 0px;
	top: 90px;
	padding: 20px;
}

#upperRangeContainer {
	position: relative;
	float: right;
}

#lowerRangeContainer {
	position: relative;
	float: left;
}

#consoleBottom {
	position: fixed;
	color: white;
	text-align: center;
	margin: 10px auto;
	width: 100vw;
	font-size: x-large;
}

#keyboard {
	width: 90vw;
	margin-top:250px;
	margin-left:5vw;
	margin-right:5vw;
	overflow-x: scroll;
	display: inline-block;
}

.root {
	background-color: #ff5555;
	color: white;
}

.diatonic {
	background: #3333ff;
	color: white;
}

.non-diatonic {
	background: #999999;
	color: white;
}
